body{
  background-color: lightskyblue;
  width: 100%;
  height: 100vh;
  display: flex;justify-content: center;align-items: center;
}
.passwordBox {
  background-color: lightcyan;
  width: 300px;
  height: 350px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}
*{
  margin: 0;
  padding: 0;
}
.passwordBoxin{
  display: flex;
}
.passwordBoxin input{
  flex-basis: 80%;
  padding-left: 5px;

}
.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0px;
}