body{
  background-color: lightskyblue;
  width: 100%;
  height: 100vh;
  display: flex;justify-content: center;align-items: center;
}
.passwordBox {
  background-color: lightcyan;
  width: 350px;
  height: 385px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}
*{
  margin: 0;
  padding: 0;
}
.passwordBoxin{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}
.passwordBoxin input{
  flex-basis: 75%;
  padding-left: 5px;

}
.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0px;
}
.passLength{
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.passLength input{
  width: 60px;
  flex-basis: 20%;
  padding: 10px 0px;
}
.passLength label{
  flex-basis: 80%;
}
.btn{
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover{
  background-color: deepskyblue;
  color: white;
  transition: 0.3s;
}
.passl:hover{
  background-color: deepskyblue;
  color: white;
  transition: 0.3s;
}
.passl{
  flex-basis: 20%;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 5px;
}
.gpbox{
  flex-basis: 80%;
  padding-left: 5px;
  border-radius: 5px;
}
.passInput{
  width: 60px;
  flex-basis: 20%;
  padding: 10px 0px;
  border-radius: 5px;
  text-align: center;
}
img{
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  padding-top: 5px;
}
.pg{
  display: flex;
}