.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.para {
  background-color: red;
  padding: 10px;
  width: 1000px;
  text-align: left;
  margin: auto;
}

.menu {
  width: 80%;
  height: 100vh;
  text-align: left;
  left: -100%;
  position: fixed;
  list-style: none;
  background-color: aquamarine;
  transition: all 0.5s ease;
}

.activeMenu {
  left: 0%;
  transition: all 0.5s ease;
}

.menu ul li {
  list-style: none;
  padding: 10px 0px;
}

.micon {
  position: absolute;
  right: 10px;
}

.modalOverLay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  transition: all 0.5s ease;
}

.ModalDiv {
  width: 320px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  transition: all 0.5s ease;
  left: 50%;
  top: -500px;
  transform: translate(-50%, -50%);

}

.modelShow {
  display: block;
}

.showModalDiv {
  top: 50%;
}

.en {
  position: fixed;
  right: -30px;
  transform: rotate(-270deg);
  top: 100px;
}

.faqouter {
  width: 1320px;
  margin: auto;
}

.faqItems {
  border: 1px solid black;
  margin-bottom: 20px;
}

.faqItems h2 {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  background-color: lightgray;
  margin: 0;
}

.faqItems p {
  text-align: left;
  height: 0px;
  transform: scaleY(0);
  padding: 0px;
  margin: 0;
  transition: all 0.5s ease;
}

.activeAns {
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
}