nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
h1{
    text-align: center;
}
nav{
    width: 100%;
}
p{
    text-align: center;
}
.container{
    width: 1320px;
    margin: auto;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}
.blogItems{
    flex-basis: 23%;
    margin: 1%;
    box-shadow: 0 0 10px 2px #ccc;
    text-align: center;
    padding-bottom: 10px;
}