.App {
  text-align: center;
}

form {
  width: 1170px;
  margin: auto;
  display: flex;
}

form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;

}

.outerDiv {
  width: 1170px;
  margin: auto;
  margin-top: 20px;

}

.outerDiv ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 50px;

}

.outerDiv ul li {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px solid lightblack;
}

.outerDiv ul li span {
  right: 12.5%;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  color: red;
}

.completed {
  text-decoration: underline;
  color: gray;
}

.outerDiv ul li:hover {
  background-color: #e9ecef;
}

.outerDiv ul li span:hover {
  color: darkred;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}